* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-families */
  --ff-primary: 'Barlow';
  --ff-secondary: 'Fraunces';
  overflow-x: hidden;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.uppercase {
  text-transform: uppercase;
}

.t-center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.scroll-lock {
  overflow-y: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

.header {
  background-image: url('./images/mobile/image-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header > div:not([class]) {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

/* 1440px */
@media (min-width: 90em) {
  .header {
    background-image: url('./images/desktop/image-header.jpg');
  }
}

.header__logo-box {
  margin-left: 4rem;
}

.header__mobile-nav-toggle {
  display: block;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  border: 0;
  background: transparent;
  background-image: url('./images/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  z-index: 9999;
}

.header__mobile-nav-toggle[data-nav-expanded='true'] {
  background-image: url('./images/icon-close.svg');
}

/* 1440px */
@media (min-width: 90em) {
  .header__mobile-nav-toggle {
    display: none;
  }
}

#primary-navigation[data-expanded='true'] > .header__links {
  transform: translateX(0);
}

/* 1440px */
@media (min-width: 90em) {
  #primary-navigation {
    margin-right: 4rem;
  }
}

.header__links {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-top: 7rem;
  background-color: hsl(0 0% 100%);
  list-style: none;
  transform: translateX(100%);
  z-index: 9998;
  transition: transform 200ms ease-in;
}

.header__link:link,
.header__link:visited {
  padding-block: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: hsl(212 27% 19%);
}

.header__link:hover,
.header__link:active {
  border-bottom: 2px solid hsl(0 0% 100%);
}

.header__link--cta:link,
.header__link--cta:visited {
  padding: 1rem 2rem;
  border: none;
  border-radius: 100px;
  font-size: 1rem;
  color: hsl(0 0% 100%);
  background-color: hsl(212 27% 19%);
}

/* 1440px */
@media (min-width: 90em) {
  .header__links {
    position: static;
    transform: none;
    width: auto;
    height: auto;
    flex-direction: row;
    padding-top: 0;
    background: transparent;
  }

  .header__link:link,
  .header__link:visited {
    font-size: 1.125rem;
    color: hsl(0 0% 100%);
  }

  .header__link--cta:link,
  .header__link--cta:visited {
    padding: 1rem 2rem;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    color: hsl(212 27% 19%);
    background-color: hsl(0 0% 100%);
    transition: color 200ms, background-color 200ms;
  }

  .header__link--cta:hover,
  .header__link--cta:active {
    color: hsl(0 0% 100%);
    background-color: hsl(212 27% 19%);
  }
}

.header__text-box {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.header__text-box__heading {
  margin-bottom: 3rem;
  font-size: 2.8rem;
  font-weight: 900;
  letter-spacing: 5px;
  color: hsl(0 0% 100%);
}

.header__text-box__arrow {
  display: block;
  margin: 0 auto;
}

/* 1440px */
@media (min-width: 90em) {
  .header__text-box {
    padding-bottom: 20rem;
  }

  .header__text-box__heading {
    margin-bottom: 5rem;
    font-size: 4rem;
    letter-spacing: 6px;
  }
}

.main__section-features {
  display: grid;
}

.main__section-features__tile {
  padding: 3rem 2rem;
}

.main__section-features__tile:nth-child(1),
.main__section-features__tile:nth-child(4) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__section-features__tile.cherry-bg {
  padding-top: 25rem;
  padding-bottom: 1rem;
}

.main__section-features__tile.cherry-bg .main__section-features__heading {
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  color: hsl(167 40% 24%);
}

.main__section-features__tile.cherry-bg .main__section-features-text {
  color: hsl(167 40% 24%);
}

.main__section-features__tile.orange-bg {
  padding-top: 25rem;
  padding-bottom: 1rem;
}

.main__section-features__tile.orange-bg .main__section-features__heading {
  font-size: 2rem;
  font-weight: 900;
  text-transform: capitalize;
  color: hsl(198 62% 26%);
}

.main__section-features__tile.orange-bg .main__section-features-text {
  color: hsl(198 62% 26%);
}

.main__section-features__heading {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  text-align: center;
  color: hsl(212 27% 19%);
}

.main__section-features-text {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.8;
  color: hsl(232 10% 55%);
}

.main__section-features__btn:link,
.main__section-features__btn:visited {
  position: relative;
  text-decoration: none;
  color: hsl(212 27% 19%);
}

.main__section-features__btn::after {
  content: '';
  width: 100%;
  height: 0.7rem;
  position: absolute;
  top: 60%;
  left: 0;
  border-radius: 9px;
  transform: scaleX(1.2);
  z-index: -1;
}

.main__section-features__tile:nth-child(1) .main__section-features__btn::after {
  background-color: hsl(51 100% 49% / 0.2);
  transition: background-color 200ms;
}

.main__section-features__tile:nth-child(4) .main__section-features__btn::after {
  background-color: hsl(7 99% 70% / 0.2);
  transition: background-color 200ms;
}

.main__section-features__tile:nth-child(1)
  .main__section-features__btn:hover::after {
  background-color: hsl(51 100% 49% / 0.5);
}

.main__section-features__tile:nth-child(4)
  .main__section-features__btn:hover::after {
  background-color: hsl(7 99% 70% / 0.5);
}

[class*='bg'] {
  background-size: cover;
  background-position: center;
}

.egg-bg,
.goblet-bg {
  aspect-ratio: 1;
}

.egg-bg {
  grid-row: 1;
  background-image: url('./images/mobile/image-transform.jpg');
}

.goblet-bg {
  background-image: url('./images/mobile/image-stand-out.jpg');
}

.cherry-bg {
  background-image: url('./images/mobile/image-graphic-design.jpg');
}

.orange-bg {
  background-image: url('./images/mobile/image-photography.jpg');
}

/* 1440px */
@media (min-width: 90em) {
  .main__section-features {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .main__section-features__tile:nth-child(1),
  .main__section-features__tile:nth-child(4) {
    padding: 0 10rem;
    justify-content: center;
    align-items: start;
  }

  .main__section-features__tile:nth-child(1) .main__section-features__heading,
  .main__section-features__tile:nth-child(4) .main__section-features__heading {
    width: 16ch;
    text-align: left;
  }

  .main__section-features__tile:nth-child(5) .main__section-features-text,
  .main__section-features__tile:nth-child(6) .main__section-features-text {
    width: 38ch;
    margin: 0 auto 2rem auto;
    text-align: center;
  }

  .main__section-features-text {
    width: 44ch;
    text-align: left;
    line-height: 1.7;
  }

  .egg-bg,
  .goblet-bg {
    aspect-ratio: unset;
  }

  .egg-bg {
    grid-column: 2;
    background-image: url('./images/desktop/image-transform.jpg');
  }

  .goblet-bg {
    background-image: url('./images/desktop/image-stand-out.jpg');
  }

  .cherry-bg {
    background-image: url('./images/desktop/image-graphic-design.jpg');
  }

  .orange-bg {
    background-image: url('./images/desktop/image-photography.jpg');
  }
}

.main__section-testimonials {
  padding-top: 4rem;
  margin-bottom: 4rem;
}

.main__section-testimonials__container {
  display: grid;
  gap: 4rem;
}

.main__section-testimonials__heading {
  margin-bottom: 4rem;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: hsl(210 4% 67%);
}

.main__section-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.main__section-testimonial__img {
  display: block;
  width: 20%;
  border-radius: 50%;
}

.main__section-testimonial__text {
  width: 32ch;
  font-size: 1.125rem;
  line-height: 1.8;
  color: hsl(212 27% 19% / 0.7);
}

.main__section-testimonial__info-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__section-testimonial__name {
  font-size: 1.225rem;
  color: hsl(212 27% 19%);
}

.main__section-testimonial__role {
  color: hsl(210 4% 67%);
}

/* 1440px */
@media (min-width: 90em) {
  .main__section-testimonials {
    padding-top: 8rem;
    margin-bottom: 8rem;
  }

  .main__section-testimonials__heading {
    font-size: 1.5rem;
    margin-bottom: 6rem;
  }

  .main__section-testimonials__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 10rem;
  }

  .main__section-testimonial__text {
    width: 34ch;
  }
}

.footer {
  background-color: hsl(167 44% 70%);
}

.footer__image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 4rem;
}

.footer__image-gallery__image-box {
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
}

.footer__image-gallery__image-box:nth-child(1) {
  background-image: url('./images/mobile/image-gallery-milkbottles.jpg');
}

.footer__image-gallery__image-box:nth-child(2) {
  background-image: url('./images/mobile/image-gallery-orange.jpg');
}

.footer__image-gallery__image-box:nth-child(3) {
  background-image: url('./images/mobile/image-gallery-cone.jpg');
}

.footer__image-gallery__image-box:nth-child(4) {
  background-image: url('./images/mobile/image-gallery-sugar-cubes.jpg');
}

.footer .logo {
  display: block;
  width: 50%;
  margin: 0 auto 3.5rem auto;
}

.footer > nav {
  margin-bottom: 5rem;
}

.footer__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.footer__link:link,
.footer__link:visited {
  font-size: 1.125rem;
  text-decoration: none;
  color: hsl(167 40% 24% / 0.7);
}

.footer__social-media-box {
  padding-bottom: 4rem;
}

.footer__social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

/* 1440px */
@media (min-width: 90em) {
  .footer__image-gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__image-gallery__image-box:nth-child(1) {
    background-image: url('./images/desktop/image-gallery-milkbottles.jpg');
  }

  .footer__image-gallery__image-box:nth-child(2) {
    background-image: url('./images/desktop/image-gallery-orange.jpg');
  }

  .footer__image-gallery__image-box:nth-child(3) {
    background-image: url('./images/desktop/image-gallery-cone.jpg');
  }

  .footer__image-gallery__image-box:nth-child(4) {
    background-image: url('./images/desktop/image-gallery-sugarcubes.jpg');
  }

  .footer .logo {
    width: 10%;
  }

  .footer > nav {
    width: 20%;
    margin: 0 auto 5rem auto;
  }
}
